/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  }

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
}

ul.nav {
	font-size: 13px;
}

footer {
	background-color: #f74c3c;
	padding-top: 150px;
	padding-bottom: 30px;
	position: relative;
}

a.navbar-brand img {
	height: 35px;
	width: 35px;
	padding-bottom: 10px;
	margin-top: 0px;

}

#get-involved {
	background-color: #f5f5f5;
}

#back-to-top {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#back-to-top a {
	color: #333;
}
.jumbotron {
	text-align: center;
	background-image: url('../images/hero_image.jpg');
	color: white;
}

.modal-content iframe {
	margin-bottom: 12px;
	margin-top: 18px;
}

.modal-content button.close {
	position: absolute;
    top: 5px;
    right: 5px;
    font-size: 28px;
    width: 40px;
    opacity: 1;
    background-color: white;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}
.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.jumbotron .form-control {
	height: 49px;
	font-size: 25px;
}

.jumbotron .btn-sm {
	font-size: 25px;
}

/* Centering the video is turned off due to mobile site  */
.modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -176px;
}
.btn-lg {
	font-size: 36px;
}
.homepage {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.homepage h2, .homepage h3 {
	color: #e74c3c;
    font-family: 'Arvo', courier, serif;
    text-transform: uppercase;
}
.homepage h2 {
	      font-size: 30px;
}
.homepage h3 {
		font-size: 26px;	
}
.homepage p {
	font-weight: 300;
    font-size: 20px;
}
.homepage a {
	color: #e74c3c;
}
.homepage a:hover {
	color: #e74c3c;
	text-decoration: none;
	opacity: 0.7;
}
.homepage hr {
	border-color: #e74c3c;
    width: 150px;
    margin-top: 15px;
}

#who-we-are .homepage img {
    width: 165px;
    height: 100px;
}

footer .container img {
	height: 150px;
	width: 150px;
}

/*Responsive resolutions */
@media (max-width: 1199px) {
	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}
 }

 @media (max-width: 991px) {
	.jumbotron h1 {
		font-size: 45px;
	}
	.jumbotron p {
		padding: 0px 10px;
	}
	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

 }


 @media (max-width: 765px) {
	.jumbotron h1 {
		font-size: 24px;
	}
	.jumbotron p, {
		padding: 0px;
		font-size: 15px;
	}
	.btn-lg {
		font-size: 15px;
	}
	#get-involved .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#who-we-are p, #get-involved p {
		font-size: 15px;
	}
	footer img {
		width: 80%;
	}

	.modal-dialog {
    position: relative;
    margin-left: -150px;
    margin-top: 200px;
    
}

	.modal-content {
		
		width: 315px;
		height: 195px;
	}

	.modal-content iframe {
		width :280px;
		height: 157px;
 }